// Custom styles.
img.emoji {
   height: 1.5em;
   width: 1.5em;
   margin: 0 .05em 0 .1em !important;
   vertical-align: -0.1em;
   //override theme default style
   padding:0px !important;
   border:none !important;
   display:inline !important;
}

